.square {
    height: 0px;
    width: 100%;
    padding-bottom: 30%;
    border: 1px solid black;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    cursor: pointer;
}

.square:hover {
    background-color: black;
    color: aliceblue;
}

#popup {
    width: 400px;
    background-color: #fff;
    top: 0;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, -50%) scale(0.1);
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden; 
    transition: transform 0.4s, top 0.4s;
}

.winners-trophy {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
}

.menu {
    width: 450px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, -50%) scale(1);
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    visibility: visible; 
    transition: transform 0.4s, top 0.4s;
}

.menu img {
    width: 100px;
    margin-top: -50px;
}

.title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 900;
}

.address {
    margin-bottom: 20px;
}

.main {
    margin-bottom: 30px;
}

.container-fluid {
    filter: blur(5px);
}